.jumbotrom{
    background-color: black;
    text-align: center;
    min-width: 50px;
    min-height: 50px;
}
h6{
    padding-top: 15px;
    text-align: center;
    color: white;
}
.sub{
    text-decoration-line: underline;
}
.margen{
    padding-left: 250px;
    padding-right: 250px;
    
}

.fondo{
    padding-top: 20px;
    padding-bottom: 30px;
    background-color: rgb(238, 237, 237);
}

#boton{
    background-color: black;
    color: white;
}

ul{
    font-weight: bold;
    list-style-type: none;
}

span.itali{
    font-style: oblique;
}

#fondocard{
    padding-top: 20px;
    background-color: rgb(238, 237, 237);
    border: none;
}

#fondocard2{
    
    background-color: rgb(238, 237, 237);
    border: none;
}

.img{
    width: 120px;
}